@import "./consts.scss";
@import "./fonts.scss";

.page__header {
  padding-left: 0;

  a {
    position: absolute;
  }

  h1 {
    margin-left: calc(32px + 1rem);
    float: left;
    font-size: 2rem;
  }
}
