@import "./consts.scss";

.post {
  margin-bottom: 1rem;
  padding: 1rem;
  background: white;
  /* stylelint-disable-next-line */
  box-shadow: 0 1px 4px 0 RGB(60 64 67 / 30%);
}

.post__header {
  padding: 0 1rem 1rem 1rem;
}

.post__header h2 {
  font-weight: bold;
  color: $header-font-color;
}

.post__body {
  padding: 0 1rem;
}

@mixin truncate($line-clamp) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-clamp;
  -webkit-box-orient: vertical;
}

.post__snippet {
  @include truncate(3);
}

.post__footer {
  padding: 1rem;
  overflow: hidden;
  clear: both;
}

.post__footer__btn {
  cursor: pointer;
  border-style: none;
  color: $dark;
  font-size: 0.75rem;
  font-style: italic;
  border-radius: 5px;
  padding: 0.5rem;
  float: right;
  transition: all 0.5s;

  &:hover {
    color: $lite;
    background-color: $dark;
  }
}
