* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;

  /*border: red 1px solid;*/
}

body {
  background-color: #f4f4f4;
  color: #757575;
  font: 15px Roboto, sans-serif;
  margin: 0;
  min-height: 100vh;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
}

.main {
  width: 100%;

  ul {
    list-style: none;
  }
}

.header {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 3rem;

  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #424242;
    text-align: center;
  }
}

.footer {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;

  div {
    text-align: center;
      span {
        font-style: italic;
        font-size: 0.75rem;
      }
  }
}
